### ignore build and bin files
forward_models/cpp_models/build
forward_models/cpp_models/bin
### ignore scratchpads
forward_models/cpp_models/src/scratch
forward_models/cpp_models/include/scratch
forward_models/python_models/scratch
### ignore 'other' stuff
forward_models/cpp_models/src/other
forward_models/cpp_models/include/other
### ignore unit test stuff
forward_models/cpp_models/src/test
forward_models/cpp_models/include/test
### ignore pyc files
forward_models/python_models/*.pyc
### ignore ipynb checkpoint files
.ipynb_checkpoints
### ignore profiling directories
forward_models/python_models/profiling
forward_models/cpp_models/profiling
### ignore chains files, too big to commit/pull
forward_models/python_models/keras_chains/
forward_models/python_models/np_chains/
forward_models/python_models/tf_chains/
forward_models/cpp_models/cpp_chains/
### ignore plot files, too big to commit/pull
forward_models/python_models/keras_plots/
forward_models/python_models/np_plots/
forward_models/python_models/tf_plots/
forward_models/cpp_models/cpp_plots/
### ignore mnist datasets for now
MPE_examples/autoencoders/MNIST_data/
### ignore cpp lib files
forward_models/cpp_models/lib/
### ignore jobscripts and batch run outputs
forward_models/cpp_models/jobscripts/
forward_models/cpp_models/run_outputs/
### ignore hpc output files
forward_models/cpp_models/slurm*.out
forward_models/cpp_models/machine.file.*
### ignore hpc scripting python file
forward_models/cpp_models/hpc_script.py
### ignore 21cm data
data/21cm/*
### ignore bh predictions
data/uci/predictions/*

